.card-category {
    // width: -webkit-fill-available !important;
    height: -webkit-fill-available !important;
}

.card.small .card-image {
    max-height: 100%;
}

.card-title {
    background-color: $primary-color;
    width: 100%;
}

.microSmallCard {
    height: 175px;
    
}

.card-title {
    padding: 10px 24px !important;
}