* {
    scroll-behavior: smooth;
}

.bg-white {
    background-color: #fff;
}

.small-text {
    font-size: 0.9em !important;
}

.h2-like {
    font-size: 3em;
}

.uppercase {
    text-transform: uppercase;
}

.col-sparator-r {
    border-right: solid #c7c7c7 0.5px;
}

.col-sparator-l {
    border-left: solid #c7c7c7 0.5px;
}



.big-I {
    font-size: 5em;
    color: $secondary-color;
}

.h-full {
    min-height: 94vh !important;
}

// =============== //
    //  Padding & margin

@for $i from 0 through 10 {
    .p-#{$i} {
        padding: #{$i}rem !important;
    }
    .pt-#{$i} {
        padding-top: #{$i}rem !important;
    }
    .pr-#{$i} {
        padding-right: #{$i}rem !important;
    }
    .pb-#{$i} {
        padding-bottom: #{$i}rem !important;
    }
    .pl-#{$i} {
        padding-left: #{$i}rem !important;
    }
    .py-#{$i} {
        padding-bottom: #{$i}rem !important;
        padding-top: #{$i}rem !important;
    }
    .px-#{$i} {
        padding-right: #{$i}rem !important;
        padding-left: #{$i}rem !important;
    }

    .m-#{$i} {
        margin: #{$i}rem !important;
    }
    .mt-#{$i} {
        margin-top: #{$i}rem !important;
    }
    .mr-#{$i} {
        margin-right: #{$i}rem !important;
    }
    .mb-#{$i} {
        margin-bottom: #{$i}rem !important;
    }
    .ml-#{$i} {
        margin-left: #{$i}rem !important;
    }
    .my-#{$i} {
        margin-bottom: #{$i}rem !important;
        margin-top: #{$i}rem !important;
    }
    .mx-#{$i} {
        margin-right: #{$i}rem !important;
        margin-left: #{$i}rem !important;
    }


}

.w-100 {
    width: 100%;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.full-width {
  width: 100% !important;
}

span.categori-show {
    display     : inline-block;
    width       : 12px;
    height      : 12px;
    margin-right: 5px;
    background  : #000;
}

.nav-logo-svg {
    height: 50px;
    position: relative;
    width: auto;
    top: 3px;
}

.scrollAction {
    display: flex;
    justify-content: center;
    a {
        background-color: white;
        display: flex;
        align-items: center;

        svg {
            position: relative;
            left: -6px;
        }
    }    
}