header {
    background-size: cover !important;
    background-position: center !important;
    padding: 2em;

    .H1-call-to-action {
        margin-top: 0em;
        font-size: 2.5em;
        font-weight: 600;
        margin-bottom: 1.2em;
    }


    .H2-title-header {
        padding: 0.8em;
        background-color: rgba($secondary-color, 0.8);
        color: #fff;

        font-size: 2.2em;
        font-weight: 600;
        margin: 0;
        margin-bottom: 0.5em;
    }



    .H2-container-header {
        padding         : 0em 5em 0.6em;
        background-color: rgba(92, 107, 192, 0.8);
        color           : #fff;
        margin-bottom   : 0.5em;
        width           : fit-content;
    }

    .home-price {
        text-align: right;
        font-size: 1.8rem;
        font-weight: 400;
    }

    .note {
        text-align: right;
        font-size: 1em;
        font-weight: 400;
    }

}

.button-acheter-header {
    // background-color: $primary-color;
    min-width:30%;
}

.parallax-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.microSmallCard  {
    cursor: pointer;
}

//

//

//
.scroll-prompt {
    position: absolute;
    transform: scale(0.5);
    bottom: -61px;
    left: 50%;
    margin-left: -80px;
    width: 160px;
    height: 160px;

	.scroll-prompt-arrow-container {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -18px;
		animation-name: bounce;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}
	.scroll-prompt-arrow {
		animation-name: opacity;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}
	.scroll-prompt-arrow:last-child {
		animation-direction: reverse;
		margin-top: -6px;
	}
	.scroll-prompt-arrow > div {
		width: 36px;
		height: 36px;
		border-right: 8px solid #777;
		border-bottom: 8px solid #777;
        transform: rotate(45deg) translateZ(1px);


	}
}

a:hover .scroll-prompt .scroll-prompt-arrow > div {
    border-right: 8px solid #fff;
    border-bottom: 8px solid #fff;
}

@keyframes opacity {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 0.1;
	}

	20% {
		opacity: 0.2;
	}

	30% {
		opacity: 0.3;
	}

	40% {
		opacity: 0.4;
	}

	50% {
		opacity: 0.5;
	}

	60% {
		opacity: 0.6;
	}

	70% {
		opacity: 0.7;
	}

	80% {
		opacity: 0.8;
	}

	90% {
		opacity: 0.9;
	}

	100% {
		opacity: 1;
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	10% {
		transform: translateY(3px);
	}

	20% {
		transform: translateY(6px);
	}

	30% {
		transform: translateY(9px);
	}

	40% {
		transform: translateY(12px);
	}

	50% {
		transform: translateY(15px);
	}

	60% {
		transform: translateY(18px);
	}

	70% {
		transform: translateY(21px);
	}

	80% {
		transform: translateY(24px);
	}

	90% {
		transform: translateY(27px);
	}

	100% {
		transform: translateY(30px);
	}
}
